<section class="product-footer">
  <div class="footer-container">
    <div>
      <h4>ABOUT</h4>
      <p><a href="#">About us</a></p>
      <p><a href="#">Careers</a></p>
      <p><a href="#">Contact us</a></p>
      <p><a href="#">Stories</a></p>
      <p><a href="#">Press</a></p>
      <p><a href="#">Wholesale</a></p>
      <p><a href="#">Corporate Information</a></p>
    </div>
    <div>
      <h4>HELP</h4>
      <p><a href="#">Payments</a></p>
      <p><a href="#">Shipping</a></p>
      <p><a href="#">Cancellation & Return</a></p>
      <p><a href="#">FAQ</a></p>
      <p><a href="#">Report Infrigment</a></p>
    </div>
    <div>
      <h4>POLICY</h4>
      <p><a href="#">Return Policy</a></p>
      <p><a href="#">Terms of Use</a></p>
      <p><a href="#">Security</a></p>
      <p><a href="#">Privacy</a></p>
      <p><a href="#">Sitemap</a></p>
      <p><a href="#">Complaince</a></p>
    </div>
    <div>
      <h4>SOCIAL</h4>
      <p><a href="#">YouTube</a></p>
      <p><a href="#">Twitter</a></p>
      <p><a href="#">Facebook</a></p>
    </div>
    <div>
      <h4>MAIL US:</h4>
      <p>rj.patidar02@gmail.com</p>
    </div>
    <div>
      <h4>ADDRESS</h4>
      <p>Raju Technical Private Limited,</p>
      <p>Village-Nandra,Maheshwar,</p>
      <p>Khargone, 451225,</p>
      <p>Telephone: 9926621288</p>
    </div>
  </div>
  <div style="text-align: center; color: white">Ⓒ2018-2022</div>
</section>
