.order_section {
  background-color: #f1f3f6;
}

.order_main {
  width: 80%;
  padding: 30px;
  margin: auto;
}

.order-box {
  background-color: white;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.collapse-button {
  float: right;
  margin-right: 10px;
  color: white;
  background: blue;
  outline: 0;
  border: none;
  border-radius: 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
